<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="NetSuiteAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetSuiteAccess.Properties.Settings>
            <setting name="NetSuiteAccess_com_netsuite_webservices_NetSuiteService"
                serializeAs="String">
                <value>https://webservices.netsuite.com/services/NetSuitePort_2016_2</value>
            </setting>
            <setting name="NetSuiteAccess_com_netsuite_sandbox_webservices_NetSuiteService"
                serializeAs="String">
                <value>https://webservices.sandbox.netsuite.com/services/NetSuitePort_2016_2</value>
            </setting>
        </NetSuiteAccess.Properties.Settings>
    </applicationSettings>
</configuration>